<ng-container *ngIf="products.length!=0">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">price</th>
            <th scope="col">img</th>
            <th scope="col">delete</th>

          </tr>
        </thead>
        <tbody *ngFor="let item of products; let i=index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.price}}$</td>
            <td><img [src]="item.imgURL" alt=""></td>
            <td><button (click)="delete(item)">Delete</button></td>

          </tr>
        </tbody>

      </table>
      <h1 >Total={{grtotal}}$</h1>

</ng-container>
